<html>
<head>
<title>Badge</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
<script language="JavaScript">
	function printMe() {
		window.print();
	}
</script>

</head>

<body bgcolor="#FFFFFF" text="#000000" border=0 topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" onLoad="window.print();window.close()">
<table width="200" border="0" height="120" cellpadding="0" cellspacing="0" name="badge">
  <tr> 
    <td rowspan="2" width="60"> 
      <div align="center"><img src="images/logos/{logo_name}" width="64" height="64"></div>
    </td>
    <td width="144"> 
      <p align="right"><b><font size="5">{badge_number}</font><br>
        </b><font size="2">RPGA: {rpga_number}</font></p>
    </td>
  </tr>
  <tr> 
    <td width="144"> 
      <div align="center"><font size="5">{first_name}</font></div>
    </td>
  </tr>
  <tr> 
    <td width="60"> 
      <div align="center"><b>{convention_name}</b></div>
    </td>
    <td width="144"> 
      <div align="center"><font size="6">{last_name}</font></div>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
