<html>
<head>
<title>Badge</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
<script language="JavaScript">
	function printMe() {
		window.print();
	}
</script>

</head>

<body bgcolor="#FFFFFF" text="#000000" border=0 topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" onLoad="window.print();">
<table width="200" border="0" height="120" cellpadding="0" cellspacing="0" name="badge">
  <tr> 
    <td rowspan="2" width="60"> 
      <div align="center"><img src="/cm/images/timpict.gif" width="59" height="73"></div>
    </td>
    <td width="144"> 
      <p align="right"><b><font size="5">202</font><br>
        </b><font size="2">RPGA: 134588</font></p>
    </td>
  </tr>
  <tr> 
    <td width="144"> 
      <div align="center"><font size="5">Tim</font></div>
    </td>
  </tr>
  <tr> 
    <td width="60"> 
      <div align="center"><b>Ben Con<br>
        2002</b></div>
    </td>
    <td width="144"> 
      <div align="center"><font size="6">White</font></div>
    </td>
  </tr>
</table>
<table width="200" border="0" height="120" cellpadding="0" cellspacing="0" name="badge">
  <tr> 
    <td rowspan="2" width="60"> 
      <div align="center"><img src="/cm/images/timpict.gif" width="59" height="73"></div>
    </td>
    <td width="144"> 
      <p align="right"><b><font size="5">501</font></b></p>
    </td>
  </tr>
  <tr> 
    <td width="144"> 
      <div align="center"><font size="2"><b>D&amp;D Event</b></font></div>
    </td>
  </tr>
  <tr> 
    <td width="60"> 
      <div align="center"><b>Ben Con<br>
        2002</b></div>
    </td>
    <td width="144"> 
      <div align="center"><font size="3">FRI <br>
        5PM-11PM</font></div>
    </td>
  </tr>
</table>
<table width="200" border="0" height="120" cellpadding="0" cellspacing="0" name="badge">
  <tr> 
    <td rowspan="2" width="60"> 
      <div align="center"><img src="/cm/images/timpict.gif" width="59" height="73"></div>
    </td>
    <td width="144"> 
      <p align="right"><b><font size="5">502</font></b></p>
    </td>
  </tr>
  <tr> 
    <td width="144"> 
      <div align="center"><font size="2"><b>Cthulhu Event</b></font></div>
    </td>
  </tr>
  <tr> 
    <td width="60"> 
      <div align="center"><b>Ben Con<br>
        2002</b></div>
    </td>
    <td width="144"> 
      <div align="center"><font size="3">FRI <br>
        5PM-11PM</font></div>
    </td>
  </tr>
</table>
</body>
</html>
