<html>
<head>
<title>Convention Edit</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" onLoad="self.document.title = '{name} Convention Record'" class="BodyClass">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td class="FormTitle">{name}</td>
    <td class="FormTitle">
      <div align="right"></div>
    </td>
  </tr>
</table>
<span class="FormTitle">{action_message}</span> <span class="FieldError">{form_error}
</span>
<hr>
<form name="person_edit" method="post" action="form.php">
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr> 
      <td class="FieldName">Name</td>
      <td> 
        <input type="text" name="name" value="{name}" maxlength="40" size="20" class="FieldData">
        <b class="FieldError">{name_error}</b> </td>
      <td class="FieldName">Web Site URL</td>
      <td> 
        <input type="text" name="web_site_url" value="{web_site_url}" maxlength="40" size="20" class="FieldData">
        <span class="FieldError"><b>{web_site_url_error}</b></span> </td>
    </tr>
    <tr> 
      <td class="FieldName">Sponsor Organization</td>
      <td> <span class="FieldError"><b> 
        <input type="text" name="sponsor_organization" value="{sponsor_organization}" maxlength="40" size="20" class="FieldData">
        {sponsor_orgnization_error}</b></span> </td>
      <td class="FieldName">RPGA Convention Code</td>
      <td> 
        <input type="text" name="city" value="{rpga_convention_code}" maxlength="40" size="20" class="FieldData">
        <b class="FieldError">{rpga_convention-code_error}</b> </td>
    </tr>
  </table>
  <hr>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <div align="center">
          <input type="button" name="delete" value="Delete" onClick="MM_goToURL('parent','form.php?table=person&action=delete&id={id}');return document.MM_returnValue">
        </div>
      </td>
      <td>
        <div align="center">
          <input type="button" name="cancel" value="Cancel" onClick="window.close()">
        </div>
      </td>
      <td>
        <div align="center"><span class="FieldName">
          <input type="hidden" name="id" value="{id}">
          <input type="hidden" name="last_modified" value="{last_modified}">
          <input type="hidden" name="table" value="convention">
          <input type="hidden" name="included_table" value="slot">
          <input type="hidden" name="action" value="save">
          </span>
          <input type="submit" name="save" value="Save">
        </div>
      </td>
    </tr>
  </table>
  <hr>
</form>
<span class="FormTitle">Slots  {action_message}</span> 
<span class="FieldError">{form_error} </span>
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle" width="5%" colspan=2>Action</td>
    <td class="TableTitle" width="5%">Slot Number</td>
    <td class="TableTitle"> Date</td>
    <td class="TableTitle" width="10%"> Start Time</td>
    <td class="TableTitle"> End Time</td>
  </tr>
  <tr> 
    <form name="slot_add" method="post" action="form.php">
      <td class="TableDataBold" colspan=2> 
        <input type="submit" name="add" value="Add">
      </td>
      <td class="TableDataBold"><span class="FieldName"> 
        <input type="hidden" name="parent_id" value="{id}">
        <input type="hidden" name="convention_id" value="{id}">
        <input type="hidden" name="table" value="convention">
        <input type="hidden" name="included_table" value="slot">
        <input type="hidden" name="action" value="saveIncluded">
        <input type="hidden" name="included_order_by" value="slot_number">
        <input type="text" name="slot_number" size="6" maxlength="10" class="FieldData">
        </span> </td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="slot_date" size="10" maxlength="10" class="FieldData" value="yyyy-mm-dd">
        </span></td>
      <td class="TableData" width="10%"><span class="FieldName"> 
        <input type="text" name="start_time" size="8" maxlength="8" class="FieldData" value="12:00:00">
        </span></td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="end_time" size="8" maxlength="8" class="FieldData" value="16:00:00">
        </span></td>
    </form>
  </tr>
  <!-- START BLOCK : slot_row -->
  <tr> 
    <form name="slot_delete" method="post" action="form.php" target="popup">
      <td class="TableData" width="5%"> 
        <input type="hidden" name="table" value="convention">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="action" value="deleteIncluded">
        <input type="hidden" name="parent_id" value="{convention_id}">
        <input type="hidden" name="included_table" value="slot">
        <input type="hidden" name="included_order_by" value="slot_number">
        <input type="submit" name="delete" value="Delete" onClick="popwin()">
      </td>
    </form>
    <form name="person_section_save" method="post" action="form.php" target="popup">
      <td class="TableData" width="5%"> 
        <input type="hidden" name="table" value="convention">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="action" value="saveIncluded">
        <input type="hidden" name="parent_id" value="{convention_id}">
        <input type="hidden" name="included_table" value="slot">
        <input type="hidden" name="included_order_by" value="slot_number">
        <span class="FieldName"> </span> 
        <input type="submit" name="update" value="Update" onClick="popwin()">
      </td>
      <td class="TableDataBold"><span class="FieldName"> 
        <input type="text" name="slot_number" size="6" maxlength="10" class="FieldData" value="{slot_number}">
        </span> </td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="date" size="10" maxlength="10" class="FieldData" value="{date}">
        </span></td>
      <td class="TableData" width="10%"><span class="FieldName"> 
        <input type="text" name="start_time" size="8" maxlength="8" class="FieldData" value="{start_time}">
        </span></td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="end_time" size="8" maxlength="8" class="FieldData" value="{end_time}">
        </span></td>
    </form>
  </tr>
  <!-- END BLOCK : slot_row -->
</table>
</body>
</html>
