<html>
<head>
<title>Deleted!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" onLoad="self.document.title = '{name} Item Record'" class="BodyClass">
<p><span class="FormTitle"><font color="#FF0000">{action_message}</font></span></p>
<p>
  <input type="button" name="Done" value="Done" onClick="window.close()">
</p>
</body>
</html>
