<html>

<head>

<title>Event Edit</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>



<body bgcolor="#FFFFFF" text="#000000"  onLoad="self.document.title = '{event_number} Event Record'" class="BodyClass">

<table width="100%" border="0" cellspacing="2" cellpadding="2">

  <tr>

    <td class="FormTitle">{event_name}</td>

    <td class="FormTitle">

      <div align="right"></div>

    </td>

  </tr>

</table>

<span class="FormTitle">{action_message}</span> <span class="FieldError">{form_error}</span>

<hr>

<form name="event_edit" method="post" action="form.php">

  <table width="75%" border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td class="FieldName" width="4%">Event Number</td>
      <td>
        <input type="text" name="event_number" value="{event_number}" maxlength="15" size="10" class="FieldData">
        <span class="FieldError"><font color="#FF0000"><b>{event_number_error}</b></font></span> 
      </td>
      <td class="FieldName">Event Type</td>
      <td colspan="3">
        <select name="type" class="FieldData">
          <option selected>{type}</option>
		  <!-- START BLOCK : form_constants[event_type]_row -->
		  <option>{form_constants[event_type][name]}</option>
		  <!-- END BLOCK : form_constants[event_type]_row -->
		  <option>Other</option>
        </select>
        <font color="#FF0000"><b class="FieldError">{type_error}</b></font></td>
    </tr>
    <tr>
      <td class="FieldName" height="50">Game System</td>
      <td width="33%" height="50">
        <input type="text" name="game_system" value="{game_system}" maxlength="40" size="25" class="FieldData">
        <span class="FieldError"><font color="#FF0000"><b>{game_system_error}</b></font></span>
      </td>
      <td class="FieldName" width="4%" height="50">Scenario Name</td>
      <td class="FieldName" colspan="3" height="50">
        <input type="text" name="scenario_name" value="{scenario_name}" maxlength="100" size="35" class="FieldData">
        <span class="FieldError"><font color="#FF0000"><b>{scenario_name_error}</b></font></span>
      </td>
    </tr>
    <tr>
      <td class="FieldName" width="4%">RPGA</td>
      <td>
        <input type="checkbox" name="rpga" value="CHECKED" {rpga} onClick="if (form.rpga.checked) {form.sponsor.value='the RPGA';}">
        <font color="#FF0000"><b class="FieldError">{rpga_error}</b></font> </td>
      <td class="FieldName">Level</td>
      <td colspan="3">
        <select name="level" class="FieldData">
          <option selected>{level}</option>
		  <!-- START BLOCK : form_constants[event_level]_row -->
		  <option>{form_constants[event_level][name]}</option>
		  <!-- END BLOCK : form_constants[event_level]_row -->
          <option></option>
        </select>
        <font color="#FF0000"><b class="FieldError">{level_error}</b></font></td>
    </tr>
    <tr>
      <td class="FieldName" width="4%">RPGA Type</td>
      <td>
        <select name="rpga_event_type" class="FieldData">
          <option selected>{rpga_event_type}</option>
		  <!-- START BLOCK : form_constants[rpga_event_type]_row -->
		  <option>{form_constants[rpga_event_type][name]}</option>
		  <!-- END BLOCK : form_constants[rpga_event_type]_row -->
          <option></option>
        </select>
        <span class="FieldError">{rpga_event_type_error}</span> </td>
      <td class="FieldName">Author</td>
      <td colspan="3">
        <input type="text" name="author_name" value="{author_name}" maxlength="40" size="35" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{author_name_error}</b></font>
      </td>
    </tr>
    <tr>
      <td class="FieldName" width="4%">RPGA Code</td>
      <td>
        <input type="text" name="rpga_event_code" value="{rpga_event_code}" maxlength="15" size="15" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{phone_error}</b></font> </td>
      <td class="FieldName">Sponsor</td>
      <td colspan="3">
        <input type="text" name="sponsor" value="{sponsor}" maxlength="40" size="35" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{sponsor_error}</b></font>
      </td>
    </tr>
    <tr>
      <td class="FieldName" width="4%">RPGA Only</td>
      <td>
        <input type="checkbox" name="rpga_only" value="CHECKED" {rpga_only} class="FieldData">
        <font color="#FF0000"><b class="FieldError">{rpga_only_error}</b></font>
      </td>
      <td class="FieldName">Price</td>
      <td class="FieldName"> $<input type="text" name="price" value="{price}" maxlength="5" size="5" class="FieldData">
        <b class="FieldError">{price_error}</b> </td>
      <td class="FieldName">Rounds</td>
      <td width="33%">
        <input type="text" name="round_count" value="{round_count}" maxlength="5" size="5" class="FieldData">
        <b class="FieldError">{round_count_error}</b>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <p><span class="FieldName">Description</span> <span class="FieldError">{description_error}<br>
          </span>
          <textarea name="description" cols="75" class="FieldData" rows="10">{description}</textarea>
        </p>
      </td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <div align="center">
          <input type="button" name="delete" value="Delete" onClick="deleteCheck('event','{id}');return document.MM_returnValue">
        </div>
      </td>
      <td>
        <div align="center">
          <input type="button" name="cancel" value="Cancel" onClick="window.close()">
        </div>
      </td>
      <td align="center">
          <input type="hidden" name="id" value="{id}">
          <input type="hidden" name="last_modified" value="{last_modified}">
          <input type="hidden" name="event_name" value="{event_name}">
          <input type="hidden" name="table" value="event">
          <input type="hidden" name="included_table" value="section">
          <input type="hidden" name="action" value="save">
          <input type="hidden" name="included_order_by" value="section_number">
          <input type="hidden" name="convention_id" value="1">
          <input type="submit" name="save" value="Save">
      </td>
    </tr>
  </table>
</form>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <form name="actions_form">
      <tr>        
      <td align="center">&nbsp;</td>
        <td align="center">
        <input type="button" name="edit_notes" value="Edit Notes" onClick="popWin('form.php?table=event&action=edit&included_table=note&included_order_by=last_modified desc&included_id_col=id&id={id}&template=note_edit.html&form_constants[form_label]=Event%20{event_number}','note_edit');return false">
      </td>
      </tr>
    </form>
  </table>
<hr>
<!-- START BLOCK : included_header -->
<p><span class="FormTitle">Sections</span>
</p>
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle" colspan="2" rowspan="2">Action</td>
    <td class="TableTitle" rowspan="2">Section Number</td>
    <td class="TableTitle" colspan="2">
      <div align="center">Registrations</div>
    </td>
    <td class="TableTitle" rowspan="2">Date</td>
    <td class="TableTitle" rowspan="2">Start Time</td>
    <td class="TableTitle" rowspan="2">End Time</td>
    <td class="TableTitle" rowspan="2"> Round</td>
    <td class="TableTitle" rowspan="2">Adv To Sect</td>
    <td class="TableTitle" rowspan="2">Results Entered</td>
  </tr>
  <tr> 
    <td class="TableTitle">Max</td>
    <td class="TableTitle">Curr</td>
  </tr>
  <tr> 
    <form name="section_add" method="post" action="form.php">
      <td class="TableDataBold" colspan="2"> 
        <input type="submit" name="add" value="Add">
      </td>
      <td class="TableDataBold"><span class="FieldName"> 
        <input type="hidden" name="table" value="event">
        <input type="hidden" name="action" value="saveIncluded">
        <input type="hidden" name="convention_id" value="{convention_id}">
        <input type="hidden" name="id" value="{id}">
        <input type="hidden" name="event_id" value="{id}">
        <input type="hidden" name="event_number" value="{event_number}">
        <input type="hidden" name="included_table" value="section">
        <input type="hidden" name="included_order_by" value="section_number">
        <input type="text" name="included_search" size="3" maxlength="5" class="FieldData">
        </span> </td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
    </form>
  </tr>
  <!-- END BLOCK : included_header -->
  <!-- START BLOCK : section_row -->
  <tr> 
    <form name="section_delete" method="post" action="form.php">
      <td class="TableDataBold"> 
        <input type="hidden" name="table" value="event">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="action" value="deleteIncluded">
        <input type="hidden" name="id" value="{event_id}">
        <input type="hidden" name="included_table" value="section">
        <input type="hidden" name="included_order_by" value="section_number">
        <input type="submit" name="delete" value="Delete">
      </td>
    </form>
    <form name="section_save" method="post" action="form.php">
      <td class="TableDataBold"> 
        <input type="hidden" name="table" value="event">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="action" value="saveIncluded">
        <input type="hidden" name="id" value="{event_id}">
        <input type="hidden" name="included_table" value="section">
        <input type="hidden" name="included_order_by" value="section_number">
        <input type="hidden" name="event_id" value="{event_id}">
        <input type="hidden" name="event_number" value="{event_number}">
        <input type="submit" name="update" value="Update">
      </td>
      <td class="TableDataBold"><span class="FieldName"> 
        <input type="text" name="section_number" size="3" maxlength="5" class="FieldData" value="{section_number}">
        </span></td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="max_registered" size="3" maxlength="4" class="FieldData" value="{max_registered}">
        </span></td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="num_registered" size="3" maxlength="4" class="FieldData" value="{num_registered}">
        </span></td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="date" size="10" maxlength="10" class="FieldData" value="{date}">
        </span></td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="start_time" size="8" maxlength="8" class="FieldData" value="{start_time}">
        </span></td>
      <td class="TableData"><span class="FieldName"> 
        <input type="text" name="end_time" size="8" maxlength="8" class="FieldData" value="{end_time}">
        </span></td>
      <td class="TableData"> 
        <input type="text" name="round" size="2" maxlength="2" class="FieldData" value="{round}">
      </td>
      <td class="TableData"> 
        <input type="text" name="advance_to_section" size="2" maxlength="2" class="FieldData" value="{advance_to_section}">
      </td>
      <td class="TableData"> 
        <input type="checkbox" name="results_entered" value="CHECKED" {results_entered} class="FieldData">
      </td>
    </form>
  </tr>
  <!-- END BLOCK : section_row -->
</table>
</body>

</html>

