<html>
<head>
<title>Event Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body class="BodyClass" TOPMARGIN=0 LEFTMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>
<table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/bluebricktileh.jpg" height="100">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<span class="FormTitle"> Event Search Form</span> 
<form name="search_form" method="post" action="form.php">
  <table width="75%" border="0" cellspacing="2" cellpadding="2" name="searchCriteria" align="center">
    <tr>
      <td><span class="FieldName">Event Name</span></td>
      <td>
        <input type="text" name="search[event_name]" value="{search[event_name]}" class="FieldData">
      </td>
      <td><span class="FieldName">Type</span></td>
      <td>
        <select name="search[type]" class="FieldData">
		  <option></option>
          <option selected>{search[type]}</option>
          <!-- START BLOCK : form_constants[event_type]_row -->
		  <option>{form_constants[event_type][name]}</option>
		  <!-- END BLOCK : form_constants[event_type]_row -->
		  <option>Other</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><span class="FieldName">Description</span></td>
      <td>
        <input type="text" name="search[description]" value="{search[description]}" class="FieldData">
      </td>
      <td><span class="FieldName">Event Number</span></td>
      <td>
        <input type="text" name="search[event_number]" value="{search[event_number]}" class="FieldData">
      </td>
    </tr>
  </table>
  <div align="center"> 
    <input type="hidden" name="table" value="event">
    <input type="hidden" name="action" value="search">
    <input type="hidden" name="load_constants[event_type]" value="constant">
    <input type="submit" name="Search" value="Search">
  </div>
  </form>
<hr noshade>
<span class="FormTitle">Search Results</span> <span class="FormTitle"> - {action_message}</span> 
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle"> Number</td>
    <td class="TableTitle">Event Name</td>
    <td class="TableTitle"> Type</td>
    <td class="TableTitle"> Level</td>
  </tr>
  <!-- START BLOCK : result_row -->
  <tr> 
    <td>{event_number}</td>
    <td><a href="" onClick="popWin('form.php?table=event&included_table=section&action=edit&included_order_by=section_number&id={id}&load_constants[event_type]=constant&load_constants[rpga_event_type]=constant&load_constants[event_level]=constant','event_edit');return false">{event_name}</a></td>
    <td>{type}</td>
    <td>{level} 
  </tr>
  <!-- END BLOCK : result_row -->
</table>
<hr noshade>
<span class="FieldName"><a href="" onclick="popWin('form.php?table=event&action=edit&load_constants[event_type]=constant&load_constants[rpga_event_type]=constant&load_constants[event_level]=constant','event_edit');return false">Create a New Event</a></span>
<hr noshade>
</body>
</html>
