<html>
<head>
<title>Item Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" class="BodyClass">
<span class="FormTitle"> Item Search Form</span> 
<hr noshade>
<form name="search_form" method="post" action="form_handler.php">
  <table width="75%" border="0" cellspacing="2" cellpadding="2" name="searchCriteria" align="center">
    <tr> 
      <td><span class="FieldName">Item Name</span> </td>
      <td> 
        <input type="text" name="search[name]" value="{name}" class="FieldData">
      </td>
      <td><span class="FieldName">Type</span></td>
      <td>
        <input type="text" name="search[type]" value="{type}" class="FieldData">
      </td>
    </tr>
    <tr> 
      <td><span class="FieldName">Description</span></td>
      <td> 
        <input type="text" name="search[description]" value="{description}" class="FieldData">
      </td>
      <td><span class="FieldName">Category</span></td>
      <td>
        <input type="text" name="search[category]" value="{category}" class="FieldData">
      </td>
    </tr>
  </table>
  <p align="center"> 
    <input type="hidden" name="table_name" value="item">
    <input type="hidden" name="action" value="search">
    <input type="submit" name="Search" value="Search">
  </p>
  </form>
<hr noshade>
<span class="FormTitle">Search Results</span> 
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle"> Name</td>
    <td class="TableTitle"> Type</td>
    <td class="TableTitle"> Category</td>
    <td class="TableTitle"> Description</td>
  </tr>
  <!-- START BLOCK : result_row -->
  <tr> 
    <td><a href="form_handler.php?table_name=item&action=edit&id={id}" target="popup" onclick="popwin()">{name}</a></td>
    <td>{type}</td>
    <td>{category}
    <td>{description}
  </tr>
  <!-- END BLOCK : result_row -->
</table>
<hr noshade>
<span class="FieldName"><a href="form_handler.php?table_name=item&action=new" target="popup" onclick="popwin()">Create a New Item</a></span> 
<hr noshade>
</body>
</html>
