<html>
<head>
<title>Person Edit</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
<script language="JavaScript">
<!--
function fmtShortTime (inTimeStr) {
	var formattedTime;
	var dateObj;
	formattedTime = "January 01, 2002 " + inTimeStr;
	dateObj = new Date(formattedTime);
	return dateObj.getHours();
}

function updateTicketList(id,checked) {
	if (checked) {
		if (document.actions_form.ticketList.value == '') {
			document.actions_form.ticketList.value = id;
		} else {
			document.actions_form.ticketList.value += ',' + id;
		}
	} else {
		document.actions_form.actions_form.value = document.actions_form.ticketList.value.replace(',' + id,'');
	}
}

function initRegTypes() {
	<!-- START BLOCK : form_constants[reg_type]_row -->
	this["{form_constants[reg_type][name]}"] = "{form_constants[reg_type][value]}";
	<!-- END BLOCK : form_constants[reg_type]_row -->
}
var regTypes = new initRegTypes();

function regTypeLookup(inType) {
	var old_cost = parseInt(regTypes[document.person_edit.old_reg_type.value])
	var old_value = parseInt(document.person_edit.total_fee.value)
	var new_cost = parseInt(regTypes[inType])
	var additional_fees = 0
	if (document.person_edit.additional_fees.value != '') {
	   additional_fees = parseInt(document.person_edit.additional_fees.value);
	}
	var old_additional_fees = 0
	if (document.person_edit.old_additional_fees.value != '') {
	   old_additional_fees = parseInt(document.person_edit.old_additional_fees.value);
	}
	var amount_paid = 0
	if (document.person_edit.amount_paid.value != '') {
	   amount_paid = parseInt(document.person_edit.amount_paid.value);
	}
	var new_value = (old_value - old_cost - old_additional_fees) + new_cost + additional_fees

	document.person_edit.total_fee_display.value = new_value;
	document.person_edit.total_fee.value = new_value;
	document.person_edit.amount_owed.value = new_value - amount_paid;
	document.person_edit.old_reg_type.value = inType;
	document.person_edit.old_additional_fees.value = additional_fees;
}

function popSetup() {
	document.person_edit.amount_owed.value = document.person_edit.total_fee.value-document.person_edit.amount_paid.value;			
}


function setRegTypeList() {
	for (var name in regTypes) { //populate the reg_type select list
		document.person_edit.reg_type.options[document.person_edit.reg_type.length] = new Option(name,name,false,false);
	}
}
//-->
</script>
</head>

<body class="BodyClass" onLoad="self.document.title = '{first_name} {last_name} Person Record';popSetup()">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td class="FormTitle">{first_name} {middle_name} {last_name}</td>
    <td class="FormTitle">
      <div align="right">Badge Number: <font color="#009900">{badge_number}</font></div>
    </td>
  </tr>
</table>
<span class="FormTitle">{action_message}</span> <span class="FieldError">{form_error}</span> 
<form name="person_edit" method="post" action="form.php">
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr> 
      <td class="FieldName">First Name</td>
      <td> 
        <input type="text" name="first_name" value="{first_name}" maxlength="40" size="20" class="FieldData">
      </td>
      <td class="FieldName">Last Name</td>
      <td colspan="3"> 
        <input type="text" name="last_name" value="{last_name}" maxlength="40" size="20" class="FieldData">
      </td>
      <td class="FieldName">Middle Name</td>
      <td> 
        <input type="text" name="middle_name" value="{middle_name}" maxlength="40" size="8" class="FieldData">
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Street</td>
      <td class="FieldData" colspan="5" > 
        <input type="text" name="street" value="{street}" maxlength="100" size="30" class="FieldData">
      </td>
      <td class="FieldName">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr> 
      <td class="FieldName">City</td>
      <td> 
        <input type="text" name="city" value="{city}" maxlength="40" size="20" class="FieldData">
      </td>
      <td class="FieldName">State</td>
      <td class="FieldData" > 
        <input type="text" name="state" value="{state}" maxlength="40" size="2" class="FieldData">
      </td>
      <td class="FieldName">Zip</td>
      <td> 
        <input type="text" name="zip" value="{zip}" maxlength="8" size="8" class="FieldData">
      </td>
      <td class="FieldName">Country</td>
      <td> 
        <input type="text" name="country" value="{country}" maxlength="40" size="8" class="FieldData">
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Phone</td>
      <td> 
        <input type="text" name="phone" value="{phone}" maxlength="20" size="20" class="FieldData">
      </td>
      <td class="FieldName">Email</td>
      <td colspan="5"> 
        <input type="text" name="email_address2" value="{email_address}" maxlength="100" size="41" class="FieldData">
      </td>
    </tr>
    <tr>
      <td class="FieldName">RPGA Number</td>
      <td> 
        <input type="text" name="rpga_number" value="{rpga_number}" maxlength="20" size="10" class="FieldData">
      </td>
      <td class="FieldName">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td class="FieldName">&nbsp;</td>
      <td class="FieldData">&nbsp; </td>
    </tr>
    <tr> 
      <td class="FieldName">Reg Type</td>
      <td> 
        <select name="reg_type" class="FieldData" width="30" onChange="regTypeLookup(form.reg_type.options[reg_type.selectedIndex].text)">
          <script language="JavaScript">
				for (var name in regTypes) {
					document.writeln("<option>" + name + "</option>");
				}
				document.writeln("<option selected>{reg_type}</option>");
				</script>
        </select>
        <input type="hidden" name=old_reg_type value="{reg_type}">
      </td>
      <td class="FieldName">Pay Type</td>
      <td colspan="3">
        <select name="payment_type" class="FieldData">
          <option selected>{payment_type}</option>
          <!-- START BLOCK : form_constants[payment_type]_row -->
          <option>{form_constants[payment_type][name]}</option>
          <!-- END BLOCK : form_constants[payment_type]_row -->
          <option>Other</option>
        </select>
      </td>
      <td class="FieldName">Add'l Fees</td>
      <td> $ 
        <input type="text" name="additional_fees" value="{additional_fees}" maxlength="6" size="6" class="FieldData" onBlur="regTypeLookup(form.reg_type.options[reg_type.selectedIndex].text)">
        <input type="hidden" name="old_additional_fees" value="{additional_fees}">
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Total Fee</td>
      <td>$ 
        <input type="text" name="total_fee_display" value="{total_fee}" maxlength="6" size="6" class="FieldData" onFocus="blur()">
        <input type="hidden" name="total_fee" value="{total_fee}">
      </td>
      <td class="FieldName">Amt. Paid</td>
      <td colspan="3">$ 
        <input type="text" name="amount_paid" value="{amount_paid}" maxlength="6" size="6" class="FieldData"  onBlur="regTypeLookup(form.reg_type.options[reg_type.selectedIndex].text)">
        <input type="button" name="all_paid" value="All Paid" onClick="form.amount_paid.value = form.total_fee.value;regTypeLookup(form.reg_type.options[reg_type.selectedIndex].text)">
      </td>
      <td class="FieldName">Amt. Owed</td>
      <td>$ 
        <input type="text" name="amount_owed" value="{amount_owed}" maxlength="6" size="6" class="FieldData" onFocus="blur()">
      </td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td align="center">
          <input type="button" name="delete" value="Delete" onClick="deleteCheck('person','{id}');return document.MM_returnValue">
      </td>
      <td align="center">
          <input type="button" name="cancel" value="Cancel" onClick="window.close()">
      </td>
      <td align="center">
          <input type="hidden" name="id" value="{id}">
          <input type="hidden" name="last_modified" value="{last_modified}">
          <input type="hidden" name="badge_number" value="{badge_number}">
          <input type="hidden" name="table" value="person">
          <input type="hidden" name="included_table" value="person_section">
          <input type="hidden" name="action" value="save">
          <input type="hidden" name="convention_id" value="1">
          <input type="hidden" name="load_constants[reg_type]" value="constant">
		  <input type="hidden" name="load_constants[payment_type]" value="constant">
          <input type="submit" name="save" value="Save">
      </td>
    </tr>
  </table>
</form>
<!-- START BLOCK : included_header -->
<input type="hidden" name="load_constants[payment_type]" value="constant">
<form name="actions_form" method="post" action="form.php">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="FieldName" align="right">Print: </td>
        <td align="left">
            <input type="button" value="Badge" onClick="popWinSmall('form.php?table=person&action=edit&id={id}&template=badge_and_tickets.html&logo_name={_convention_id[logo_file]}')">
            <input type="button" value="Badge & All Tickets" onClick="popWinSmall('form.php?table=person&action=edit&included_table=person_section&included_order_by=last_modified%20desc&id={id}&template=badge_and_tickets.html&logo_name={_convention_id[logo_file]}')">
            <input type="hidden" name="ticketList" value="">
            <input type="button" name="selected_tix" value="Selected Tickets" onClick="popWinSmall('form.php?table=person&action=edit&included_table=person_section&included_order_by=last_modified%20desc&id={id}&template=tickets.html&logo_name={_convention_id[logo_file]}&included_where=id%20IN(' + form.ticketList.value + ')')">
        </td>
        <td>
          <input type="button" name="edit_notes" value="Edit Notes" onClick="popWin('form.php?table=person&action=edit&included_table=note&included_order_by=last_modified%20desc&included_parent_id_col=parent_id&id={id}&template=note_edit.html&form_constants[table]=person&form_constants[form_label]={first_name}%20{last_name}','note_edit');return false">
        </td>
      </tr>
	</table>
</form>
<hr>
<span class="FormTitle">Events {action_message}</span> <span class="FieldError">{form_error} </span> 
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle" align="left">Print Select</td>
    <td class="TableTitle" width="5%" colspan=2 align="center">Action</td>
    <td class="TableTitle" width="5%">Event Num</td>
    <td class="TableTitle"> Event Name</td>
    <td class="TableTitle"> Time</td>
    <td class="TableTitle">Reg</td>
    <td class="TableTitle" width="75"> Price</td>
    <td class="TableTitle">Place</td>
    <td class="TableTitle">Judge</td>
  </tr>
  <tr> 
    <form name="person_section_add" method="post" action="form.php">
      <td>&nbsp; </td>
      <td align="right" colspan=2> 
        <input type="submit" name="add" value="Add">
      </td>
      <td class="TableDataBold"> 
        <input type="hidden" name="parent_id" value="{id}">
        <input type="hidden" name="convention_id" value="{convention_id}">
        <input type="hidden" name="person_id" value="{id}">
        <input type="hidden" name="table" value="person">
        <input type="hidden" name="included_table" value="person_section">
        <input type="hidden" name="action" value="saveIncluded">
        <input type="hidden" name="reg_type" value="{reg_type}">
        <input type="hidden" name="included_order_by" value="last_modified desc">
        <input type="hidden" name="load_constants[reg_type]" value="constant">
        <input type="text" name="included_search" size="6" maxlength="10" class="FieldData">
      </td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData" width="75">&nbsp;</td>
      <td class="TableData">&nbsp;</td>
      <td class="TableData">&nbsp; </td>
    </form>
  </tr>
  <!-- END BLOCK : included_header -->
  <!-- START BLOCK : person_section_row -->
  <tr> 
    <form name="person_section_delete_{id}" method="post" action="form.php">
      <td class="TableData"> 
        <input type="checkbox" name="ticket_print" value="ticketprint" onClick="updateTicketList({id},form.ticket_print.checked)">
      </td>
      <td> 
        <input type="hidden" name="table" value="person">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="action" value="deleteIncluded">
        <input type="hidden" name="parent_id" value="{person_id}">
        <input type="hidden" name="included_table" value="person_section">
        <input type="hidden" name="included_order_by" value="last_modified desc">
        <input type="hidden" name="load_constants[reg_type]" value="constant">
        <input type="submit" name="delete" value="Delete">
      </td>
    </form>
    <form name="person_section_save_{id}" method="post" action="form.php">
      <td> 
        <input type="hidden" name="table" value="person">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="action" value="saveIncluded">
        <input type="hidden" name="parent_id" value="{person_id}">
        <input type="hidden" name="included_table" value="person_section">
        <input type="hidden" name="included_order_by" value="last_modified desc">
        <input type="hidden" name="old_price" value="{old_price}">
        <input type="hidden" name="person_id" value="{person_id}">
        <input type="hidden" name="load_constants[reg_type]" value="constant">
        <input type="hidden" name="load_constants[payment_type]" value="constant">
        <input type="submit" name="update" value="Update" onClick="popWin()">
      </td>
      <td class="TableDataBold">{_section_id[complete_event_number]}</td>
      <td class="TableData"><a href="form.php?table=event&action=edit&id={id}" target="popup" onClick="popWin()" class="TableData">{_event_id[event_name]}</a></td>
      <td class="TableData"> 
        <script language="JavaScript">document.write(fmtShortTime("{_section_id[start_time]}"));</script>
        - 
        <script language="JavaScript">document.write(fmtShortTime("{_section_id[end_time]}"));</script>
      </td>
      <td class="TableData">{_section_id[num_registered]}/{_section_id[max_registered]}</td>
      <td class="TableData" width="75">$ 
        <input type="text" name="price" size="5" maxlength="10" class="FieldData" value="{price}">
      </td>
      <td class="TableData"> {place}</td>
      <td class="TableData"> 
        <input type="checkbox" name="judge" value="CHECKED" {judge} onClick="MM_setTextOfTextfield('price','','0.00')">
      </td>
    </form>
  </tr>
  <!-- END BLOCK : person_section_row -->
</table>
</body>
</html>
