<html>
<head>
<title>Person Section Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" class="BodyClass">
<table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/bluebricktileh.jpg" height="100">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<hr noshade>
<span class="FormTitle">Events</span> 
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle"> Event Number</td>
    <td class="TableTitle"> Event Name</td>
    <td class="TableTitle"> Packet ID</td>
    <td class="TableTitle"> Reg Type</td>
  </tr>
  <tr> 
    <td class="TableData">
      <form name="form1" method="post" action="form_handler.php">
        <input type="text" name="textfield">
        <input type="submit" name="Add" value="Add">
        <input type="hidden" name="table" value="person_section">
        <input type="hidden" name="action" value="save">
        <input type="hidden" name="person_id" value="id">
      </form>
    </td>
    <td class="TableData">&nbsp;</td>
    <td class="TableData">&nbsp;</td>
    <td class="TableData">&nbsp;
  </tr>
  <!-- START BLOCK : result_row -->
  <tr> 
    <td class="TableData"><a href="form_handler.php?table=section&action=edit&id={section_id}" target="popup" onClick="popwin()">{related_section[complete_event_number]}</a></td>
    <td class="TableData"><a href="form_handler.php?table=event&action=edit&id={event_id}" target="popup" onClick="popwin()">{related_event[event_name]}</a></td>
    <td class="TableData"><a href="form_handler.php?table=score_packet&action=edit&id={score_packet_id}" target="popup" onClick="popwin()">{score_packet_id}</a></td>
    <td class="TableData">{reg_type} 
  </tr>
  <!-- END BLOCK : result_row -->
</table>
<hr noshade>
<span class="FieldName"><a href="form_handler.php?table=person_section&action=new" target="_blank">Create
a New Person Section</a></span>
<hr noshade>
</body>
</html>
