<html>
<head>
<title>Person Edit</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" onLoad="self.document.title = '{first_name} {last_name} Person Record'" class="BodyClass">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr> 
    <td class="FormTitle">{first_name} {middle_name} {last_name}</td>
    <td class="FormTitle">
      <div align="right">Badge Number: <font color="#009900">{badge_number}</font></div>
    </td>
  </tr>
</table>
<span class="FormTitle">{action_message}</span> <span class="FieldError">{form_error} 
</span> 
<hr>
<form name="person_edit" method="post" action="form_handler.php">
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
    <tr> 
      <td class="FieldName">First Name</td>
      <td> 
        <input type="text" name="first_name" value="{first_name}" maxlength="40" size="20" class="FieldData">
        <b><font color="#FF0000" class="FieldError">{first_name_error}</font></b> 
      </td>
      <td class="FieldName">Last Name</td>
      <td> 
        <input type="text" name="last_name" value="{last_name}" maxlength="40" size="20" class="FieldData">
        <span class="FieldError"><font color="#FF0000"><b>{last_name_error}</b></font></span> 
      </td>
      <td class="FieldName">Middle Name</td>
      <td colspan="3"> 
        <input type="text" name="middle_name" value="{middle_name}" maxlength="40" size="10" class="FieldData">
        <span class="FieldError"><font color="#FF0000"><b>{middle_name_error}</b></font></span> 
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Street</td>
      <td> <span class="FieldError"><font color="#FF0000"><b> 
        <input type="text" name="street" value="{street}" maxlength="40" size="20" class="FieldData">
        {street_error}</b></font></span> </td>
      <td class="FieldName">City</td>
      <td> 
        <input type="text" name="city" value="{city}" maxlength="40" size="20" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{city_error}</b></font> </td>
      <td class="FieldName">State</td>
      <td> 
        <input type="text" name="state" value="{state}" maxlength="40" size="2" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{state_error}</b></font> </td>
      <td class="FieldName">Zip</td>
      <td> 
        <input type="text" name="zip" value="{zip}" maxlength="8" size="8" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{zip_error}</b></font> </td>
    </tr>
    <tr> 
      <td class="FieldName">Phone</td>
      <td> 
        <input type="text" name="phone" value="{phone}" maxlength="20" size="20" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{phone_error}</b></font> </td>
      <td class="FieldName">Email</td>
      <td colspan="5"> 
        <input type="text" name="email_address" value="{email_address}" maxlength="40" size="20" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{email_address_error}</b></font> 
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Reg Type</td>
      <td> 
        <select name="reg_type" class="FieldData">
          <option selected>{reg_type}</option>
          <option>Pre-Reg</option>
          <option>VIP</option>
          <option>Weekend</option>
          <option>THU Only</option>
          <option>FRI Only</option>
          <option>SAT Only</option>
          <option>SUN Only</option>
        </select>
        <font color="#FF0000"><b class="FieldError">{reg_type_error}</b></font> 
      </td>
      <td class="FieldName">&nbsp;</td>
      <td>&nbsp;</td>
      <td class="FieldName">Volunteer</td>
      <td> 
        <input type="checkbox" name="volunteer" value="CHECKED"  {volunteer} class="FieldData">
        <font color="#FF0000"><b class="FieldError">{volunteer_error}</b></font> 
      </td>
      <td class="FieldName">Staff</td>
      <td> 
        <input type="checkbox" name="staff" value="CHECKED" {staff} class="FieldData">
        <font color="#FF0000"><b class="FieldError">{staff_error}</b></font> </td>
    </tr>
    <tr> 
      <td class="FieldName">RPGA Number</td>
      <td> 
        <input type="text" name="rpga_number" value="{rpga_number}" maxlength="20" size="20" class="FieldData">
        <font color="#FF0000"><b class="FieldError">{rpga_number_error}</b></font> 
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="FieldName">Judge</td>
      <td> 
        <input type="checkbox" name="judge" value="CHECKED" {judge} class="FieldData">
        <font color="#FF0000"><b class="FieldError">{judge_error}</b></font> </td>
      <td class="FieldName">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <hr>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> 
        <div align="center"> 
          <input type="button" name="delete" value="Delete" onClick="MM_goToURL('parent','form_handler.php?table_name=person&action=delete&id={id}');return document.MM_returnValue">
        </div>
      </td>
      <td> 
        <div align="center"> 
          <input type="button" name="cancel" value="Cancel" onClick="window.close()">
        </div>
      </td>
      <td> 
        <div align="center"><span class="FieldName"> 
          <input type="hidden" name="id" value="{id}">
          <input type="hidden" name="last_modified" value="{last_modified}">
          <input type="hidden" name="badge_number" value="{badge_number}">
          <input type="hidden" name="table_name" value="person">
          <input type="hidden" name="action" value="save">
          </span> 
          <input type="submit" name="save" value="Save">
        </div>
      </td>
    </tr>
  </table>
  <hr>
</form>
<span class="FormTitle">Events</span>
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle">Action</td>
    <td class="TableTitle">Event Num</td>
    <td class="TableTitle"> Event Name</td>
    <td class="TableTitle"> Time</td>
    <td class="TableTitle"> Price</td>
    <td class="TableTitle">Judge</td>
  </tr>
  <tr> <form name="person_section_add" method="post" action="form_handler.php">
    <td class="TableDataBold">
        <input type="submit" name="add" value="Add">
    </td>
      <td class="TableDataBold"><span class="FieldName"> 
        <input type="hidden" name="parent_id" value="{id}">
        <input type="hidden" name="person_id" value="{id}">
        <input type="hidden" name="table_name" value="person">
        <input type="hidden" name="included_table_name" value="person_section">
        <input type="hidden" name="action" value="save_included">
        <input type="hidden" name="reg_type" value="{reg_type}">
        <input type="text" name="section_id" size="6" maxlength="10" class="FieldData">
        </span> </td>
    <td class="TableData">&nbsp;</td>
    <td class="TableData">&nbsp;</td>
    <td class="TableData">&nbsp;</td>
    <td class="TableData">&nbsp;</td>
	</form>
  </tr>
  <!-- START BLOCK : person_section_row -->
  <tr> 
  	<form name="person_section_delete" method="post" action="form_handler.php" target="popup">
    <td class="TableDataBold">
        <span class="FieldName">
        <input type="hidden" name="id" value="{id}">
        <input type="hidden" name="table_name" value="person_section">
        <input type="hidden" name="action" value="delete">
        </span> 
        <input type="submit" name="delete" value="Delete" onClick="popwin()">      
    </td>
      <td class="TableDataBold">{related_section[complete_event_number]}</td>
    <td class="TableData"><a href="form_handler.php?table_name=event&action=edit&id={id}" target="popup" onClick="popwin()" class="TableData">{related_event[event_name]}</a></td>
    <td class="TableData">{related_section[start_time]}-{related_section[end_time]}</td>
    <td class="TableData">${price}</td>
    <td class="TableData">
      <input type="checkbox" name="judge2" value="CHECKED" {judge}>
    </td>
	</form>
  </tr>
  <!-- END BLOCK : person_section_row -->
</table>
</body>
</html>
