<html>
<head>
<title>Person Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" class="BodyClass">
<table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/bluebricktileh.jpg" height="100">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<span class="FormTitle">Person Search Form</span>
<hr noshade>
<form name="person_search_form" method="post" action="form.php">
  <table width="75%" border="0" cellspacing="2" cellpadding="2" name="searchCriteria" align="center">
    <tr>
      <td width="10%" class="FieldName">Last Name</td>
      <td width="38%">
        <input type="text" name="search[last_name]" value="{last_name}" class="FieldData">
      </td>
      <td width="10%"><span class="FieldName">First Name</span></td>
      <td width="38%">
        <input type="text" name="search[first_name]" value="{first_name}" class="FieldData">
      </td>
    </tr>
    <tr>
      <td width="10%" class="FieldName">RPGA Number</td>
      <td width="38%">
        <input type="text" name="search[rpga_number]" value="{rpga_number}" class="FieldData">
        <input type="hidden" name="search_operators[rpga_number]" value="equals">
      </td>
      <td width="10%" class="FieldName">Badge Number</td>
      <td width="38%">
        <input type="text" name="search[badge_number]" value="{badge_number}" class="FieldData">
        <input type="hidden" name="search_operators[badge_number]" value="equals">
      </td>
    </tr>
  </table>
  <p align="center">
    <input type="hidden" name="table" value="person">
    <input type="hidden" name="action" value="search">
    <input type="submit" name="Search" value="Search">
  </p>
  </form>
<hr noshade>
<span class="FormTitle"> People - {action_message}</span>
<table width="100%" border="1">
  <tr>
    <td class="TableTitle">Badge Number</td>
    <td class="TableTitle"> Name</td>
    <td class="TableTitle"> Street</td>
    <td class="TableTitle"> City</td>
    <td class="TableTitle">RPGA Number</td>
  </tr>
  <!-- START BLOCK : result_row -->
  <tr>
    <td class="TableDataBold">{badge_number}</td>
    <td class="TableData"><a href="" class="TableData" onclick="popwin('form.php?table=person&action=edit&included_table=person_section&included_order_by=last_modified desc&id={id}','person_edit');return false">{last_name},
      {first_name}</a></td>
    <td class="TableData">{street}</td>
    <td class="TableData">{city}
    <td class="TableData">{rpga_number}
  </tr>
  <!-- END BLOCK : result_row -->
</table>
<hr noshade>
<span class="FieldName"><a href="" onclick="popwin('form.php?table=person&action=edit','person_edit');return false">Create a New Person</a></span>
<hr noshade>
</body>
</html>
