<html>
<head>
<title>Score Packet Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" class="BodyClass">
<table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/bluebricktileh.jpg" height="100">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<span class="FormTitle"> Score Packet Search Form</span>
<hr noshade>
<form name="person_search_form" method="post" action="form_handler.php">
  <table width="75%" border="0" cellspacing="2" cellpadding="2" name="searchCriteria" align="center">
    <tr>
      <td width="10%" class="FieldName">Packet ID</td>
      <td width="38%">
        <input type="text" name="search[id]" value="{id}" class="FieldData">
        <input type="hidden" name="search_operators[id]" value="equals">
      </td>
      <td width="10%" class="FieldName">Complete Event Number</td>
      <td width="38%">
        <input type="text" name="search[complete_event_number]" value="{complete_event_number}" class="FieldData">
      </td>
    </tr>
  </table>
  <p align="center" class="FieldData">
    <input type="hidden" name="table_name" value="score_packet">
    <input type="hidden" name="action" value="search">
    <input type="submit" name="Search" value="Search">
  </p>
  </form>
<hr noshade>
<span class="FieldName">
<p>Score Packets</p>
</span><table width="100%" border="1">
  <tr>
    <td class="TableTitle">Packet ID</td>
    <td class="TableTitle"> Complete Event Number</td>
    <td class="TableTitle"> Players</td>
    <td class="TableTitle"> Judge Id</td>
  </tr>
  <!-- START BLOCK : result_row -->
  <tr>
    <td class="TableDataBold">{id}</td>
    <td class="TableData"><a href="form_handler.php?table_name=score_packet&action=edit&id={id}" target="popup" class="TableData" onclick="popwin()">{complete_event_number}</a></td>
    <td class="TableData">{number_of_players}</td>
    <td class="TableData">{judge_id}
  </tr>
  <!-- END BLOCK : result_row -->
</table>
<hr noshade>
<span class="FieldName"><a href="form_handler.php?table_name=score_packet&action=new" target="popup" onclick="popwin()">Create a New Score Packet</a></span>
<hr noshade>
</body>
</html>
