<html>

<head>

<title>Score Packet Edit</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
<script language="JavaScript">
function Event (id,rpga_event_type,name) { //Event Class
	this.id = id;
	this.rpga_event_type = rpga_event_type;
	this.name = name;
}

function Section (id,event_id,dateblock) { //Section Class
	this.id = id;
	this.event_id = event_id;
	this.dateblock = dateblock;
}

function initEvents() {
	<!-- START BLOCK : EventList_row -->
	this["{id}"] = new Event({id},"{rpga_event_type}","{event_name}");
    <!-- END BLOCK : EventList_row -->
	if ("{_event_id[id]}" != "") {
		this["{_event_id[id]}"] = new Event("{_event_id[id]}","{_event_id[rpga_event_type]}","{_event_id[event_name]}");
	}
}
var events = new initEvents();

function setEventList() {
	var i=0
	for (var id in events) { //populate the events select list
		document.packet_edit.events.options[i]=new Option(events[id].name,id);
		i++;
	}
}

function initSections() {
	<!-- START BLOCK : SectionList_row -->
	this["{id}"] = new Section({id},{event_id},"{complete_event_number}: {date} {start_time}-{end_time}");
    <!-- END BLOCK : SectionList_row -->
	if ("{_section_id[id]}" != "") {
		this["{_section_id[id]}"] = new Section("{_section_id[id]}","{_section_id[event_id]}","{_section_id[complete_event_number]}: {_section_id[date]} {_section_id[start_time]}-{_section_id[end_time]}");
	}
}
var sections = new initSections();

function searchSections(inEventId) {
	var resultArray = new Array()
	var i=0
	for (var id in sections) { //Build an array of just the sections for this event
		if (sections[id].event_id == inEventId) {
			resultArray[i] = sections[id];
			i++;
		}
	}
	for (i=0;i<document.packet_edit.sections.options.length;i++) { //clear the sections select list
		document.packet_edit.sections.options[i]=null;
	}
	
	for (i=0;i<resultArray.length;i++) { //Set the options for the section list to the array we just built
		document.packet_edit.sections.options[i]=new Option(resultArray[i].dateblock,resultArray[i].id);
	}
	document.packet_edit.sections.options[0].selected=true;
	document.packet_edit.section_id.value=resultArray[0].id;
}



function searchEvents(inEventId) {
	for (i=0;i<document.packet_edit.events.options.length;i++) {
		if (document.packet_edit.events.options[i].value == inEventId) {
			document.packet_edit.events.options[i].selected=true;
		}
	}
}

function setRPGAType(inEventId) {
	var searchType = events[inEventId].rpga_event_type
	for (i=0;i<document.packet_edit.rpga_event_type.options.length;i++) {
		if (document.packet_edit.rpga_event_type.options[i].text == searchType) {
			document.packet_edit.rpga_event_type.options[i].selected=true;
		}
	}
}

function eventChange(inEventId) {
	searchSections(inEventId);
	document.packet_edit.event_id.value=inEventId;
	setRPGAType(inEventId);
}

function noVote (inNoVote) {
	if (inNoVote == 'CHECKED') {
		document.packet_edit.group_score.value = 18;
		document.packet_edit.scenario_score.value = 0;
		if (document.person_section_add) {
			document.person_section_add.score = 10;
		}
	} else {
		document.packet_edit.group_score.value = '';
		document.packet_edit.scenario_score.value = '';
	}
}

function popSetup() {
	setEventList();
	if (document.packet_edit.section_id.value != '') {
		searchSections(document.packet_edit.event_id.value);
		searchEvents(document.packet_edit.event_id.value);
	} else {
		document.packet_edit.events.size=10;
		document.packet_edit.sections.size=4;
	}
}

function jumpNext() {
	if (document.person_section_add.included_search) {
		document.person_section_add.included_search.focus();
	}
}

</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" onLoad="document.title = '{id} {last_name} Score Packet Record';popSetup();jumpNext()" class="BodyClass">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td class="FormTitle">Packet {id}</td>
    <td class="FormTitle">
      <div align="right"><b>{status}</b></div>
    </td>
  </tr>
</table>
<span class="FormTitle">{action_message}</span> <span class="FieldError">{form_error}</span> 
<form name="packet_edit" method="post" action="score_packet.php">
  <table border="0" cellspacing="2" cellpadding="2">
    <tr> 
      <td class="FieldName">Event</td>
      <td colspan="5"> 
        <select name="events" size="1" width="500" onChange="eventChange(form.events.options[selectedIndex].value)">
        </select>
        <font color="#FF0000"><b class="FieldError"> 
        <input type="hidden" name="event_id" value="{event_id}" maxlength="10" size="10" class="FieldData">
        </b></font></td>
    </tr>
    <tr> 
      <td class="FieldName">Section</td>
      <td colspan="5"> 
        <select name="sections" size="1" width="500" onChange="form.section_id.value=form.sections.options[selectedIndex].value">
        </select>
        <font color="#FF0000"><b class="FieldError"> 
        <input type="hidden" name="section_id" value="{section_id}" maxlength="10" size="10" class="FieldData">
        </b></font></td>
    </tr>
    <tr> 
      <td class="FieldName">RPGA Type</td>
      <td> 
        <select name="rpga_event_type">
          <option selected>{rpga_event_type}</option>
          <!-- START BLOCK : form_constants[rpga_event_type]_row -->
          <option>{form_constants[rpga_event_type][name]}</option>
          <!-- END BLOCK : form_constants[rpga_event_type]_row -->
        </select>
      </td>
      <td class="FieldName">Number of Players</td>
      <td> 
        <input type="text" name="number_of_players" value="{number_of_players}" maxlength="10" size="10" class="FieldData">
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Scenario Score</td>
      <td> 
        <input type="text" name="scenario_score" value="{scenario_score}" maxlength="10" size="4" class="FieldData">
      </td>
      <td class="FieldName">Prorated Scenario Score</td>
      <td class="TableDataBold">{prorated_scenario_score} </td>
      <td class="FieldName">Group Score</td>
      <td> 
        <input type="text" name="group_score" value="{group_score}" maxlength="10" size="3" class="FieldData">
      </td>
      <td class="FieldName">No Vote Packet</td>
	   <td> 
	      <input type="checkbox" name="no_vote" value="CHECKED" {no_vote} onClick="noVote(document.packet_edit.no_vote.value)">
      </td>
    </tr>
  </table>

   
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> 
        <div align="center"> 
           <input type="button" name="edit_notes" value="Edit Notes" onClick="popWin('form.php?table=score_packet&action=edit&included_table=note&included_order_by=last_modified%20desc&included_id_col=id&id={id}&template=note_edit.html&form_constants[table]=score_packet&form_constants[form_label]=Score%20Packet%20{id}','note_edit');return false">
        </div>
      </td>
      <td><input type="button" name="delete2" value="Delete" onClick="deleteCheck('score_packet','{id}');return document.MM_returnValue"></td>
      <td align="center"> 
        <input type="button" name="cancel" value="Cancel" onClick="window.close()">
      </td>
      <td align="center"> 
        <input type="hidden" name="id" value="{id}">
        <input type="hidden" name="badge_number" value="{badge_number}">
        <input type="hidden" name="table" value="score_packet">
        <input type="hidden" name="included_table" value="person_section">
        <input type="hidden" name="included_order_by" value="packet_position">
        <input type="hidden" name="action" value="save">
        <input type="hidden" name="convention_id" value="1">
        <input type="submit" name="save" value="Save">
      </td>
    </tr>
  </table>
</form>
  <!-- START BLOCK : included_header -->
  <span class="FormTitle">Participants</span> <span class="FormTitle">{action_message}</span> 
  <span class="FieldError"><br>
  {form_error}</span>
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle" colspan=2>Action</td>
    <td class="TableTitle" width="20%">RPGA Number</td>
    <td class="TableTitle" width="20%"> Person Name</td>
    <td class="TableTitle" width="8%">Score</td>
    <td class="TableTitle" width="8%">Place</td>
    <td class="TableTitle" width="12%">Position</td>
    <td class="TableTitle" width="19%">Prorated Score</td>
  </tr>
  <!-- END BLOCK : included_header -->
  <!-- START BLOCK : person_section_row -->
  <tr> 
    <form name="person_section_delete" method="post" action="score_packet.php">
      <td class="TableData" width="6%"> 
        <input type="hidden" name="table" value="score_packet">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="action" value="deleteIncluded">
        <input type="hidden" name="id" value="{score_packet_id}">
        <input type="hidden" name="included_table" value="person_section">
        <input type="submit" name="delete" value="Delete">
      </td>
    </form>
    <form name="person_section_save" method="post" action="score_packet.php">
      <td class="TableData" width="7%"> 
        <input type="hidden" name="table" value="score_packet">
        <input type="hidden" name="action" value="saveIncluded">
        <input type="hidden" name="packet_position" value="{packet_position}">
        <input type="hidden" name="included_id" value="{id}">
        <input type="hidden" name="id" value="{score_packet_id}">
        <input type="hidden" name="number_of_players" value="{_score_packet_id[number_of_players]}">
        <input type="hidden" name="included_table" value="person_section">
        <input type="hidden" name="included_order_by" value="packet_position">
        <input type="hidden" name="score_packet_id" value="{score_packet_id}">
        <input type="hidden" name="person_id" value="{person_id}">
        <input type="submit" name="update" value="Update">
      </td>
      <td class="TableDataBold" width="20%">{_person_id[rpga_number]}</td>
      <td class="TableData" width="20%"><a href="form.php?table=event&action=edit&id={id}" target="popup" onClick="popWin()" class="TableData">{_person_id[first_name]} 
        {_person_id[last_name]}</a></td>
      <td class="TableData" width="8%"><span class="FieldName"> 
        <input type="text" name="score" size="6" maxlength="10" class="FieldData" value="{score}">
        </span></td>
      <td class="TableData" width="8%"><span class="TableDataBold">{place}</span></td>
      <td class="TableDataBold" width="12%"> {position_disp}</td>
      <td class="TableDataBold" width="19%">{prorated_score}</td>
    </form>
  </tr>
  <!-- END BLOCK : person_section_row -->
  <!-- START BLOCK : person_section_footer -->
  <tr> 
    <form name="person_section_add" method="post" action="score_packet.php">
      <td colspan=2> 
        <input type="submit" name="add" value="Add">
      </td>
      <td class="TableDataBold" width="20%"><span class="FieldName"> 
        <input type="hidden" name="table" value="score_packet">
        <input type="hidden" name="action" value="addParticipant">
        <input type="hidden" name="id" value="{id}">
        <input type="hidden" name="score_packet_id" value="{id}">
        <input type="hidden" name="convention_id" value="{convention_id}">
        <input type="hidden" name="event_id" value="{event_id}">
        <input type="hidden" name="section_id" value="{section_id}">
        <input type="hidden" name="included_table" value="person_section">
        <input type="hidden" name="included_order_by" value="packet_position">
        <input type="hidden" name="packet_position" value="{packet_position}">
        <input type="hidden" name="no_vote" value="{no_vote}">
        <input type="text" name="included_search" size="8" maxlength="10" class="FieldData">
        </span> </td>
      <td class="TableData" width="20%">&nbsp;</td>
      <td class="TableData" width="8%"><span class="FieldName"> 
        <input type="text" name="score" size="6" maxlength="10" class="FieldData">
        </span></td>
      <td class="TableData" width="8%"><span class="TableDataBold">{place} </span></td>
      <td class="TableDataBold" width="12%"> {position_disp}</td>
      <td class="TableDataBold" width="19%">&nbsp;</td>
    </form>
  </tr>
  <!-- END BLOCK : person_section_footer -->
</table>

</body>

</html>

