<html>
<head>
<title>Section Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" class="BodyClass">
<table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/bluebricktileh.jpg" height="100">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<span class="FormTitle"> Section Search Form</span>
<hr noshade>
<form name="search_form" method="post" action="form.php">
  <table width="75%" border="0" cellspacing="2" cellpadding="2" name="searchCriteria" align="center">
    <tr> 
      <td class="FieldName"><span class="FieldName">Complete Event Number</span></td>
      <td> 
        <input type="text" name="search[complete_event_number]" value="{search[complete_event_number]}" class="FieldData">
      </td>
      <td class="FieldName">Event Full</td>
      <td> 
        <select name="search[event_full]">
          <option></option>
          <option value="CHECKED">CHECKED</option>
          <option value="N">N</option>
          <option selected>{search[event_full]}</option>
        </select>
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Event Number</td>
      <td> 
        <input type="text" name="search[event_number]" value="{search[event_number]}" class="FieldData">
        <input type="hidden" name="search_operators[event_number]" value="equals">
      </td>
      <td class="FieldName">Section Number</td>
      <td> 
        <input type="text" name="search[section_number]" value="{search[section_number]}" class="FieldData">
        <input type="hidden" name="search_operators[section_number]" value="equals">
      </td>
    </tr>
    <tr> 
      <td class="FieldName">Registrations Open</td>
      <td> 
        <input type="text" name="search[registrations_open]" value="{search[registrations_open]}" class="FieldData">
        <input type="hidden" name="search_operators[registrations_open]" value="equals">
      </td>
      <td class="FieldName">Location</td>
      <td> 
        <input type="text" name="search[location]" value="{search[location]}" class="FieldData">
      </td>
    </tr>
  </table>
  <p align="center">
    <input type="hidden" name="table" value="section">
    <input type="hidden" name="action" value="search">
    <input type="submit" name="Search" value="Search">
  </p>
  </form>
<hr noshade>
<span class="FormTitle">Search Results - {action_message}</span>
<table width="100%" border="1">
  <tr> 
    <td class="TableTitle"> Complete Event Number</td>
    <td class="TableTitle"> Event Name</td>
    <td class="TableTitle">When</td>
    <td class="TableTitle"> Reg</td>
    <td class="TableTitle">Full</td>
    <td class="TableTitle"> Location</td>
  </tr>
  <!-- START BLOCK : result_row -->
  <tr> 
    <td class="TableDataBold"><a href="" onclick="popWin('form.php?table=section&action=edit&included_table=person_section&included_order_by=score_packet_id,packet_position&id={id}','section_edit');return false">{complete_event_number}</a></td>
    <td class="TableData">{_event_id[event_name]}</td>
    <td class="TableData">{date} {start_time}-{end_time}</td>
    <td class="TableData">{num_registered}/{max_registered}</td>
    <td class="TableData"> 
      <input type="checkbox" name="event_full" value="CHECKED" {event_full} >
    <td class="TableData">{location} 
  </tr>
  <!-- END BLOCK : result_row -->
</table>
<hr noshade>
<span class="FieldName">Create New Sections From the Event To Which You Want Them 
To Belong</span> 
<hr noshade>
</body>
</html>
