<html>
<head>
<title>Badge</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
<script language="JavaScript">
	function printMe() {
		window.print();
	}
</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" border=0 topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" onLoad="printMe();window.close()">
<!-- START BLOCK : person_section_row -->
<script language="JavaScript">createTicket("{_convention_id[logo_file]}", "{_section_id[complete_event_number]}", "{price}", "{_convention_id[name]}", "{_event_id[event_name]}", "{_section_id[date]}", "{_section_id[start_time]}", "{_section_id[end_time]}");</script>
<!-- END BLOCK : person_section_row -->
</body>
</html>
