<html>
<head>
<title>Badge</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/cm/templates/cm.css" type="text/css">
<script language="JavaScript" src="/cm/templates/cm.js"></script>
<script language="JavaScript">
	function printMe() {
		window.print();
	}
</script>

</head>

<body bgcolor="#FFFFFF" text="#000000" border=0 topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" onLoad="printMe();window.close()">
<!-- START BLOCK : person_section_row -->
<table width="200" border="0" height="120" cellpadding="0" cellspacing="0" name="badge">
  <tr> 
    <td width="60"> 
      <div align="center"><img src="images/logos/{_convention_id[logo_file]}" width="64" height="64"></div>
    </td>
    <td rowspan="2" align="center"> <span align="center"><b><font size="2" face="Verdana, Arial, Helvetica, sans-serif">EVENT 
      TICKET<br>
      </font></b></span><font size="1" face="Times New Roman, Times, serif">{_section_id[complete_event_number]}: 
      {_event_id[event_name]}<br>
      </font><font size="2">{_section_id[date]} {_section_id[start_time]}-{_section_id[end_time]}<br>
      Price: ${price}</font></td>
  </tr>
  <tr> 
    <td width="60"> 
      <div align="center"><b>{_convention_id[name]}</b></div>
    </td>
  </tr>
</table>
<!-- END BLOCK : person_section_row -->
</body>
</html>
